header{
    padding:  0.25rem;
    background-color: #ffc0cb;
}

article{
    padding:  0.25rem;
    background-color:  #FFFFE0;
}



footer {
    padding: 0.25em;
    background-color: #87CEFA;
}




